# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/.name
.idea/misc.xml
.idea/encodings.xml
.idea/modules.xml
.idea/POE-ItemInfo.iml
.idea/workspace.xml
POE-ItemInfo.ahk.bak
.idea/

*.bak
main.ahk
TradeMacroMain.ahk
temp/*
temp
data_trade/leagues.json
data_trade/old_data_files/
data_trade/backup/*
backup/*
backup/
test.ahk

config.ini
config_trade.ini

lib/node_modules
lib/npm-debug.log.*
release
_TradeMacroMain.ahk
_ItemInfoMain.ahk
resources/tests/test_temp/*
