# Auto detect text files and always use Windoze CRLF
* text eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.png binary

*.jpg binary

*.jpeg binary

*.gif binary

*.ico binary

*.mov binary

*.mp4 binary
*.mp3 binary

*.flv binary

*.fla binary

*.swf binary

*.gz binary

*.zip binary

*.7z binary

*.ttf binary

*.eot binary

*.woff binary

*.pyc binary

*.pdf binary

*.exe binary